@import "reset.css";
@import "spacing.css";
@import "pallete.css";
@import "fonts.css";


:root {
    --container: 1280px;
}

body {
    font-size: var(--space-16);

    font-family: 'Nunito', sans-serif;
    font-weight: var(--font-weight-regular);

    line-height: 1.5;

    color: var(--primary-text);

}

.container {
    max-width: var(--container);
    margin: 0 auto;
}
